.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border:1px solid black;
}

.rVideo {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
}
.lVideo {
  grid-row: 1 / 4;
  grid-column: 1/2;
}
.cButtons {
  grid-column: 1/4;
  grid-row: 5;
}
.iWindwo {
  grid-column: 1/4;
  grid-row: 1/4;
}
