.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.remoteVideo {
  grid-row: 1 / 4;
  grid-column: 2 / 4;
}
.localVideo {
  grid-row: 1 / 4;
  grid-column: 1;
}
.controllButtons {
  grid-column: 1/4;
  grid-row: 5;
}
.infoWindwo {
  grid-column: 1/4;
  grid-row: 1/4;
}
